
.force-word-wrap pre code{
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-word;
    color: white;
}

.header .plain{
    font-size: xx-large;
}

.section .plain{
    font-size: x-large;
}
.plain{
    color: white;
}